* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    width: 60%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    font-size: larger;
    min-height: 15vh;
    font-family: 'Hachi Maru Pop', cursive;
}
header, section {
    text-align: center;
    margin-top: 30px;
}
button, select {
    cursor: pointer;
}
#control-section > input,
select,
button {
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 9px;
}
ul > div {
    padding: 8px;
}
.todo-text,
.todo-created-at,
.todo-priority {
    padding: 5px;
}
h4 {
    display: inline;
    margin-top: 30px;
}

#control-section > button {
    background-color: yellowgreen;
}


.ul {
    color: #555;
    font-size: 22px;
    padding: 0;
    width: 500px;
    border: 1px solid #dedede;
}

.todo-container {
    border-bottom: 2px dotted rgb(177, 173, 173);
    text-indent: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > .todo-container:hover {
    background-color: #bba3a3;
}

.delete-button:hover {
    color: white;
    background: coral;
}